<!DOCTYPE html>
<html lang="en">
{% load static %}



<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href={% static 'login_register_page.css' %}>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>


<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">

				<form class="forms" method="POST">
                    {% csrf_token %}

                    <label for="chk" aria-hidden="true">Sign up</label>

                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <p class="flash--messages">{{ message }}</p>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% for field in form %}
                        {{ field }}
                    {% endfor %}

                    <input class="input-button" type="submit" name="submit button" value="Register">
                    <p class="p1-tag">Have an account? <a class="log-reg-link" href="{% url 'login' %}">Log In</a></p>
				</form>

			</div>


	</div>


    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[2].placeholder='Username'
        form_fields[3].placeholder='Email'
        form_fields[4].placeholder='Password'
        form_fields[5].placeholder='Confirm password'
        console.log(form_fields)
    </script>

</body>
</html>
