{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'add_style.css' %}">
    <link rel="stylesheet" href="{% static 'search_bar.css' %}">
    {% endblock %}
</head>


<body>
<div id="snow"></div>

{% if not user_is_auth %}
<div class="nav--bar--div">
    <nav class="nav--bar">
        <div class="main--links--div">
            <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
            <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
            <a class="nav--bar--links" href="{% url 'login' %}">Login</a>
            <a class="nav--bar--links" href="{% url 'register' %}">Register</a>
            <a class="nav--bar--links" href="#">About Us</a>
        </div>

        <div class="logo--div" style="margin-right: 45%;">
            <img src="{% static 'selldimlogo.png' %}" width="150px" height="125px" alt="">
        </div>

    </nav>


</div>

    {% else %}

    <div class="nav--bar--div">

    <nav class="nav--bar">
        <div class="main--links--div">
            <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
            <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
            <a class="nav--bar--links" href="#">About Us</a>


{#            <div style="display: flex; justify-content: right">#}
{#                <a class="notification--counter" href="">3</a>#}
                <a class="nav--bar--links" href="{% url 'chat room' %}">Messages</a>
{#            </div>#}

        </div>

        <div class="logo--div">
            <img src="{% static 'selldimlogo.png' %}" width="150px" height="125px" alt="">
        </div>

        <div class="username--logout--div">
            <a href="{% url 'profile details' user.username %}" class="user--username">{{ user.username }}</a>
            <div style="margin-top: 20px;
                    padding-left: 10px;">
            <a href="{% url 'user favourite ads' user.username %}">
            <svg style="color: red"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="currentColor"
                 class="bi bi-heart-fill"
                 viewBox="0 0 16 16">

                <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735
                      8 15-7.534 4.736 3.562-3.248 8 1.314z"
                      fill="red">
                </path>
            </svg>
        </div>


            <ul>
                <li class="li--item"><a href="#" aria-haspopup="true">Profile</a>
                  <ul class="dropdown" aria-label="submenu">
                    <li class="li--item"><a class="a--item" href="{% url 'profile details' user.username %}">Profile Details</a></li>

                    <li class="li--item"><a class="a--item" href="{% url 'user ads' user.username %}">My ads</a></li>
                    <li class="li--item"><a class="a--item" href="{% url 'log out' %}">Log out</a></li>
                  </ul>
                </li>
            </ul>

        </div>
    </nav>
    </div>

{% endif %}


{% block content %}

{# search bar#}
  <div id="cover">
  <form method="get" action="{% url 'product search' %}">
    {% csrf_token %}
    <div class="tb">
      <div class="td"><input name="search" type="text" placeholder="Search" required class="search--bar--input"></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>
{# search bar end#}

    {# categories boxes #}
    <div class="icon--label--div">
        <h2>Search by category</h2>
    </div>

    <div class="icon--main--div">

        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='vehicles' %}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
               <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='animals' %}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paw" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M14.7 13.5c-1.1 -1.996 -1.441 -2.5 -2.7 -2.5c-1.259 0 -1.736 .755 -2.836 2.747c-.942 1.703 -2.846 1.845 -3.321 3.291c-.097 .265 -.145 .677 -.143 .962c0 1.176 .787 2 1.8 2c1.259 0 3.004 -1 4.5 -1s3.241 1 4.5 1c1.013 0 1.8 -.823 1.8 -2c0 -.285 -.049 -.697 -.146 -.962c-.475 -1.451 -2.512 -1.835 -3.454 -3.538z"></path>
               <path d="M20.188 8.082a1.039 1.039 0 0 0 -.406 -.082h-.015c-.735 .012 -1.56 .75 -1.993 1.866c-.519 1.335 -.28 2.7 .538 3.052c.129 .055 .267 .082 .406 .082c.739 0 1.575 -.742 2.011 -1.866c.516 -1.335 .273 -2.7 -.54 -3.052z"></path>
               <path d="M9.474 9c.055 0 .109 -.004 .163 -.011c.944 -.128 1.533 -1.346 1.32 -2.722c-.203 -1.297 -1.047 -2.267 -1.932 -2.267c-.055 0 -.109 .004 -.163 .011c-.944 .128 -1.533 1.346 -1.32 2.722c.204 1.293 1.048 2.267 1.933 2.267z"></path>
               <path d="M16.456 6.733c.214 -1.376 -.375 -2.594 -1.32 -2.722a1.164 1.164 0 0 0 -.162 -.011c-.885 0 -1.728 .97 -1.93 2.267c-.214 1.376 .375 2.594 1.32 2.722c.054 .007 .108 .011 .162 .011c.885 0 1.73 -.974 1.93 -2.267z"></path>
               <path d="M5.69 12.918c.816 -.352 1.054 -1.719 .536 -3.052c-.436 -1.124 -1.271 -1.866 -2.009 -1.866c-.14 0 -.277 .027 -.407 .082c-.816 .352 -1.054 1.719 -.536 3.052c.436 1.124 1.271 1.866 2.009 1.866c.14 0 .277 -.027 .407 -.082z"></path>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='electronics' %}"></a>
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <rect x="6" y="3" width="12" height="18" rx="2"></rect>
               <line x1="11" y1="4" x2="13" y2="4"></line>
               <line x1="12" y1="17" x2="12" y2="17.01"></line>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='real estate' %}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h4.7"></path>
               <path d="M9 21v-6a2 2 0 0 1 2 -2h2"></path>
               <circle cx="18" cy="18" r="3"></circle>
               <path d="M20.2 20.2l1.8 1.8"></path>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='clothes' %}"></a>
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shirt" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 4l6 2v5h-3v8a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-8h-3v-5l6 -2a3 3 0 0 0 6 0"></path>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='tools' %}"></a>
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hammer" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0l7.407 -7.385"></path>
                <path d="M18.121 15.293l2.586 -2.586a1 1 0 0 0 0 -1.414l-7.586 -7.586a1 1 0 0 0 -1.414 0l-2.586 2.586a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0z"></path>
            </svg>
        </div>


        <div class="icon--div">
            <a class="icon--link" href="{% url 'product search by category' category='sport' %}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ball-football" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <circle cx="12" cy="12" r="9"></circle>
               <path d="M12 7l4.76 3.45l-1.76 5.55h-6l-1.76 -5.55z"></path>
               <path d="M12 7v-4m3 13l2.5 3m-.74 -8.55l3.74 -1.45m-11.44 7.05l-2.56 2.95m.74 -8.55l-3.74 -1.45"></path>
            </svg>
        </div>



    </div>
    {# end of categories boxes #}

    {#First row of ads#}

    <div class="card--div">
        <div class="header--div">
{#            <h1 class="header">New ads</h1>#}
        </div>


        <ul class="card--ul">

            {% for post in last_four_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 18px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price|floatformat:2 }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>
{#End of first row of ads#}

{#    second row of ads #}

    <div class="card--div">

        <div class="header--div">
            <h1 class="header"></h1>
        </div>

        <ul class="card--ul">
            {% for post in last_eight_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>

{#    end of second row of ads#}
{% endblock %}



<script>
    document.addEventListener('DOMContentLoaded', function(){
    var script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';
    script.onload = function(){
        particlesJS("snow", {
            "particles": {
                "number": {
                    "value": 200,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "opacity": {
                    "value": 0.7,
                    "random": false,
                    "anim": {
                        "enable": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false
                    }
                },
                "line_linked": {
                    "enable": false
                },
                "move": {
                    "enable": true,
                    "speed": 1,
                    "direction": "bottom",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 300,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "events": {
                    "onhover": {
                        "enable": false
                    },
                    "onclick": {
                        "enable": false
                    },
                    "resize": false
                }
            },
            "retina_detect": true
        });
    }
    document.head.append(script);
});
</script>


</body>

</html>