{% extends 'common_pages/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'my_ads_page.css' %}">
    <link rel="stylesheet" href="{% static 'chat_room_page.css' %}">
    {% endblock %}
</head>


<body>
{% block content %}
<div style="display: flex; justify-content: space-between">

 <div class="main__ads__div" style="width: 1250px">
        <h4>All of {{ other_user.username }} ads - ({{ add_count }})</h4>
        {% for add in other_user_ads %}
            <div class="ads__div" style="width: 90%">
                    <div class="ads__inner__div">
                        <a class="image--a--tag" href="{% url 'product details' add.slug %}"></a>
                        <img src="{{ add.image.url }}" alt="" width="216px" height="157px">
                    </div>

                    <div class="add__name__div">
                        {{ add.product_name }}
                    </div>

                    <div class="add__price__div">
                        {{ add.price|floatformat:2 }} BGN
                    </div>
            </div>
            {% endfor %}
    </div>

    <div style="margin-top: 20px; margin-right: 20px;">
                {% if other_user_picture %}
                    <div class="profile--picture--div" style="justify-content: center; display: flex; padding-right: 45px">
                        <img style="position: absolute; height: 200px;" id="blah" src="#" alt=""/>
                        <img  src="{{ other_user_picture.user_picture.url }}" alt="" width="200px" height="200px">
                    </div>

                    {% else %}
                        <div class="profile--picture--div">
                            <img style="position: absolute; height: 200px;" id="blah" src="#" alt=""/>
                            <img  src="https://st3.depositphotos.com/4111759/13425/v/450/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg" alt="" width="200px" height="200px">
                        </div>
                    {% endif %}

                <div style="width: 400px; height: 300px; padding-top: 20px">

<div class="page-content page-container" style="display: flex; justify-content: end;" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-md-6">
            <div class="card card-bordered">
              <div class="card-header">
                <h4 class="card-title"><strong>Leave a comment for {{ other_user.username }}</strong></h4>
              </div>


          <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                {% for comment in comments %}
                  <div class="media media-chat media-chat-reverse">
                  <div class="media-body">
                    <p>{{ comment.sender }}: {{ comment.comment }}</p>
                  </div>
                </div>

                {% endfor %}
          </div>
          <div class="publisher bt-1 border-light">

    {% if user_is_auth %}
    <form action="" method="POST" style="width: 281px">
        {% csrf_token %}
        {{ form.sender.as_hidden }}
        {{ form.user.as_hidden }}
        {{ form.comment }}
        <input class="bn33" id="submit" type="submit" value="Comment">
    </form>
    {% endif %}


</div>
            </div>
    </div>
</div>
{% endblock %}
</body>


</html>