.product--sale--form{
    text-align: center;
}


.product--name--category--div{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    border-radius: 25px;
    padding: 32px;
    margin: 10px;
    width: 103.3%;
    background-color: white;
}


.label--product--name--div{
    padding: 10px;
}


.label--product--category--div{
    padding: 10px;
    padding-top: 20px;
}


.product--name--div{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    background-color: transparent;
    position: relative;
}


.product--name{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: inherit;
    margin: 0;
    background-clip: padding-box;
    background-color: rgb(242, 244, 245);
    border: 2px solid rgb(242, 244, 245);
    border-radius: 4px;
    color: rgb(0, 47, 52);
    font-size: 16px;
    line-height: 20px;
    outline: 0;
    padding: 16px 48px 16px 16px;
    resize: none;
    width: 40%;
}


.product--category--div{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(242, 244, 245);
    border-radius: 4px;
    padding: 16px;
    width: 12%;
}


.category--label{
    position: absolute;
    cursor: pointer;
}


.product--category{
    opacity: 0;
    width: 150px;
}


.div--product--image{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    padding: 32px;
    width: 103.3%;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
}


.div--outer--image{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    width: 400px;
    height: 200px;
}


.div--image{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    border-radius: 4px;
    background: rgb(255, 251, 239);
    width: 188px;
    height: 141px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}


.product--main--tag{
    font-size: 20px;
}


.image--p--tag{
    position: absolute;
    font-size: 17px;
}


.product--image{
    opacity: 0;
}


.div--product--description{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    border-radius: 25px;
    width: 103.3%;
    padding: 32px;
    margin: 10px;
    background-color: white;
}


.div--description{
    --vh: 7.54px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
}


.product--description{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: inherit;
    background-clip: padding-box;
    background-color: rgb(242, 244, 245);
    border: 2px solid rgb(242, 244, 245);
    border-radius: 4px;
    color: rgb(0, 47, 52);
    font-size: 16px;
    line-height: 20px;
    padding: 16px 48px 16px 16px;
    resize: none;
    width: 50%;
    height: 100%;
}


.description--word--counter--div{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    font-size: 14px;
    color: rgb(127, 151, 153);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding-top: 16px;
}


.div--product--price{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    width: 103.3%;
    border-radius: 25px;
    padding: 32px;
    margin: 10px;
    background-color: white;
}


.product--price{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    color: rgb(0, 47, 52);
    background-color: rgb(242, 244, 245);
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(255, 86, 54);
    border-radius: 4px;
    line-height: 20px;
    padding: 14px 48px 14px 16px;
    width: 20%;
}


.sale--page--input--button{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    width: 103.3%;
    border-radius: 25px;
    padding: 32px;
    margin: 10px;
    background-color: white;
}


.input--button{
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
    overflow: visible;
    outline: none;
    text-transform: none;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background-color: rgb(0, 47, 52);
    border: 5px solid rgb(0, 47, 52);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 10px 30px 8px;
    width: auto;
}


.pre--upload--image--div{
    text-size-adjust: 100%;
    --vh: 8px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Geomanist,Arial,sans-serif;
    border-radius: 4px;
    background: rgb(242, 244, 245);
    width: 188px;
    height: 141px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}