{% extends 'common_pages/index.html' %}
{% load common_extras %}
{% load common_extra %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat_room_page.css' %}">
    {% endblock %}
</head>


<body>
{% block content %}
<div class="msg--main--div">



{#<div class="bin--main--div">#}
{#<p>Bin</p>#}
{#</div>#}


<div class="msg--tag--main--div">
<h1>Receieved messages</h1>
</div>


<ul style="width: 330px;">
    {% if receieved_messages %}
        {% for msg in receieved_messages %}
            {% get_db_object msg.room_name as product_obj %}
{#            {% if product_obj %}#}

            <div class="receieved--msg--main--div">

            <div class="my_chats--picture--div">
                <img src="{{ product_obj.image.url }}" alt="" width="100px" height="80px">
                <a style="width: 300px; height: 80px; position: absolute;" href="{% url 'send message' msg.room_name msg.sender %}"></a>
            </div>

            <div class="my_chats--context--div">
                <div class="my_chats--name--div">Category: {{ product_obj.category }}</div>
                <div class="my_chats--product_name--div">{{ product_obj.product_name }}</div>
                <div class="my_chats--last_msg--div">Message send by: {{ msg.sender }}</div>
            </div>

            <div class="my_chats--bin--icon--div">
                <form action="">
                {% csrf_token %}
                <a class="asdasd" style="position: absolute;width: 24px; height: 24px;" href="{% url 'chat room delete' msg.room_name msg.sender.username %}"></a>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <line x1="4" y1="7" x2="20" y2="7"></line>
                   <line x1="10" y1="11" x2="10" y2="17"></line>
                   <line x1="14" y1="11" x2="14" y2="17"></line>
                   <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                   <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                </svg>
                </form>
            </div>

        </div>
            </a>

        {% endfor %}

    {% else %}
        <div class="no--msg--div">
            <h2>You don't have any messages yet</h2>
        </div>
    {% endif %}

</ul>



</div>


{% endblock %}
</body>



</html>