{% extends 'common_pages/index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'chat_room_page.css' %}">
    {% endblock %}
</head>




<html>
  <body>
  {% block content %}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-md-6">
            <div class="card card-bordered">
              <div class="card-header">
                <h4 class="card-title"><strong>Chat with {{ product.creator }} about {{ product.product_name }}</strong></h4>
              </div>


          <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                {% for msg in messages %}
                  {% if msg.sender != request.user %}
                  <div class="media media-chat media-chat-reverse">
                  {% if product_creator_image.user_picture.url %}
                  <img class="avatar" src="{{ product_creator_image.user_picture.url }}" alt="...">
                  {% else %}
                  <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                  {% endif %}
                  <div class="media-body">
                    <p>{{ msg.message }} :{{ msg.sender }}</p>
                  </div>
                </div>

                {% else %}
                 <div class="media media-chat">
                  <img class="avatar" src="{{ current_user_image.url }}" alt="...">
                  <div class="media-body">
                    <p>{{ msg.sender }}: {{ msg.message }}</p>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
          </div>

<div class="publisher bt-1 border-light">

    {% if current_user_image.url %}
        <img class="avatar" src="{{ current_user_image.url }}" alt="...">
    {% else %}
        <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
    {% endif %}

    <input id="input" class="publisher-input" type="text" placeholder="Write something">
    <input class="bn33" id="submit" type="button" value="Send Message">

</div>


{#      --------------------------------------#}
{#  <textarea id="chat-text" cols="80" rows="30"></textarea><br>#}
{#  <input id="input" type="text" size="80"><br>#}
{#  <input id="submit" type="button" value="Send Message">#}
{#      --------------------------------------#}

        {{ room_name|json_script:'room_name' }}
        {{ request.user.username|json_script:'user_username' }}
{#        {{ |json_script:'receiever_username' }}#}

        <script>
            const roomName = JSON.parse(document.getElementById('room_name').textContent);
            const user_username = JSON.parse(document.getElementById('user_username').textContent);
            {#const receiever_username = JSON.parse(document.getElementById('receiever_username').textContent);#}


            document.querySelector('#submit').onclick = function (e) {
                const messageInputDom = document.querySelector('#input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'user_username': user_username,
                    'room_name': roomName,
                    {#'receiever_username': receiever_username,#}

                }))
                messageInputDom.value = '';
            };


            {#Creates a new socket#}
            const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/chat/' +
                roomName +
                '/'
            );

            {#chatSocket.addEventListener('error', (event) => {#}
            {#    console.log('WebSocket error: ', event);#}
            {#);#}

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                const new_message =
                            '<div class="media media-chat">' +
                            '{% if current_user_image.url %}'+
                            '<img class="avatar" src="{{ current_user_image.url }}" alt="...">'+
                            '{% else %}'+
                            '<img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">' +
                            '{% endif %}' +
                            '<div class="media-body">' +
                            '<p> {{request.user}}: ' + data.message + '</p>' +
                            '<p class="meta"><time datetime="2018">00:06</time></p>' +
                            '</div>'


                document.querySelector('#chat-content').innerHTML += new_message
            };
        </script>

  {% endblock %}


  </body>
</html>