.main--div{
    background-color: white;
    margin: 10px;
    border-radius: 25px;
}


.main--add--div{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Ads sections */
.card--div{
    padding: 15px;

}


.header--div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 30px;
    color: #573b8a;
}


.card--ul{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #002f34;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 12px;
    line-height: 16px;
    margin-left: -15px;
    margin-top: -15px;
}

.card--li{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #002f34;
    margin: 0;
    border: 0;
    font: inherit;
    list-style: none;
    float: left;
    text-align: left;
    min-width: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 15px;
    width: calc(25% - 15px);
    height: 320px;
}

.li--image--div{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #002f34;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: center;
}

.image--a--tag{
    position: absolute;
    width: 216px;
    height: 156px;
}

.li--name--div{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #002f34;
    list-style: none;
    text-align: left;
    margin: 0;
    border: 0;
    font: inherit;
    padding: 15px 0;
    margin-bottom: auto;
}

.li--price--div{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #002f34;
    list-style: none;
    text-align: left;
    margin: 0;
    border: 0;
    font: inherit;
    padding: 15px 0;
    margin-bottom: auto;
}

.product--name{
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    max-height: 20px;
    min-width: 20px;
}
.li--price--div{
}
/*End of add sections*/

.found--add--count--div{
    display: flex;
    background-color: white;
    width: auto;
    max-width: 220px;
    justify-content: center;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 0px purple;
}