body{

	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);}


.nav--bar{
    padding: 30px;
    width: 100%;
    display: inline-flex;



}
.nav--bar--links{
    margin: 5px;
    color: white;
    background-color: #573b8a;
    border-radius: 25px;

	display: inline;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 75px;


}