{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    {% block title %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'add_style.css' %}">
    {% endblock %}
</head>


<body style="background-color: whitesmoke">


{% block content %}
    <div class="nav--bar--div">
    <nav class="nav--bar">

        <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
        <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
        <a class="nav--bar--links" href="#">About Us</a>
        <div class="username--logout--div">
            <p class="user--username">{{ user }}</p>
            <a class="nav--bar--links logout" href="{% url 'log out' %}">Log out!</a>
        </div>

    </nav>
    </div>

{% endblock %}




{% block page %}
    <div class="main--add--div">
        {% for post in last_five_ads %}

            <div class="newest--adds--div">
                <div class="product--name--div">
                   {{ post.product_name }}
                </div>

                <div class="product--image--div">
                    <a class="a--tag--under--image" href="{% url 'product details' post.slug  %}"></a>
                    <img  src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="product--price--div">
                    Price: {{ post.price }} BGN
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}



</body>


</html>