{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'login_register_page.css' %}">
</head>



<body>
{% block content %}

    <div class="nav--bar--div">
    <nav class="nav--bar">

        <a class="nav--bar--links" href="#">Home</a>
        <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
        <a class="nav--bar--links" href="#">About Us</a>
        <div class="username--logout--div">
            <p class="user--username">{{ user }}</p>
            <a class="nav--bar--links logout" href="{% url 'log out' %}">Log out!</a>
        </div>

    </nav>

    </div>

{% endblock %}
</body>


</html>