{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    {% block title %}
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'add_style.css' %}">
    {% endblock %}
</head>


<body style="background-color: whitesmoke">


{% block content %}
    <div class="nav--bar--div">
    <nav class="nav--bar">

        <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
        <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
        <a class="nav--bar--links" href="#">About Us</a>

        <div class="username--logout--div">
            <p class="user--username">{{ user }}</p>

            <ul>
                <li class="li--item"><a href="#" aria-haspopup="true">Profile</a>
                  <ul class="dropdown" aria-label="submenu">
                    <li class="li--item"><a class="a--item" href="#">Profile Details</a></li>
                    <li class="li--item"><a class="a--item" href="#">My ads</a></li>
                    <li class="li--item"><a class="a--item" href="{% url 'log out' %}">Log out</a></li>
                  </ul>
                </li>
            </ul>

        </div>
    </nav>
    </div>

{% endblock %}




{% block page %}
{#First row of ads#}
    <div class="card--div">
        <div class="header--div">
            <h1 class="header">New ads</h1>
        </div>


        <ul class="card--ul">

            {% for post in last_four_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 18px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>
{#End of first row of ads#}

{#    second row of ads #}

    <div class="card--div">

        <div class="header--div">
            <h1 class="header"></h1>
        </div>

        <ul class="card--ul">
            {% for post in last_eight_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>




{#    end of second row of ads#}
{% endblock %}

</body>
</html>