{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'add_style.css' %}">
    <link rel="stylesheet" href="{% static 'search_bar.css' %}">
    {% endblock %}
</head>


<body>


{% if not user_is_auth %}
<div class="nav--bar--div">
    <nav class="nav--bar">

        <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
        <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
        <a class="nav--bar--links" href="{% url 'login' %}">Login</a>
        <a class="nav--bar--links" href="{% url 'register' %}">Register</a>
        <a class="nav--bar--links" href="#">About Us</a>

    </nav>
</div>


    {% else %}
    <div class="nav--bar--div">
    <nav class="nav--bar">

        <a class="nav--bar--links" href="{% url 'home page' %}">Home</a>
        <a class="nav--bar--links" href="{% url 'sell' %}">Sell</a>
        <a class="nav--bar--links" href="#">About Us</a>



        <div class="username--logout--div">
            <a href="{% url 'profile details' user.username %}" class="user--username">{{ user.username }}</a>

            <div style="margin-top: 20px;
                    padding-left: 10px;">
            <a href="{% url 'user favourite ads' user.username %}">
            <svg style="color: red"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 fill="currentColor"
                 class="bi bi-heart-fill"
                 viewBox="0 0 16 16">

                <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735
                      8 15-7.534 4.736 3.562-3.248 8 1.314z"
                      fill="red">
                </path>
            </svg>
        </div>


            <ul>
                <li class="li--item"><a href="#" aria-haspopup="true">Profile</a>
                  <ul class="dropdown" aria-label="submenu">
                    <li class="li--item"><a class="a--item" href="{% url 'profile details' user.username %}">Profile Details</a></li>

                    <li class="li--item"><a class="a--item" href="{% url 'user ads' user.username %}">My ads</a></li>
                    <li class="li--item"><a class="a--item" href="{% url 'log out' %}">Log out</a></li>
                  </ul>
                </li>
            </ul>

        </div>
    </nav>
    </div>

{% endif %}


{% block content %}

{# search bar#}
  <div id="cover">
  <form method="get" action="{% url 'product search' %}">
    {% csrf_token %}
    <div class="tb">
      <div class="td"><input name="search" type="text" placeholder="Search" required class="search--bar--input"></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>
{# search bar end#}

    {#First row of ads#}

    <div class="card--div">
        <div class="header--div">
{#            <h1 class="header">New ads</h1>#}
        </div>


        <ul class="card--ul">

            {% for post in last_four_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 18px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price|floatformat:2 }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>
{#End of first row of ads#}

{#    second row of ads #}

    <div class="card--div">

        <div class="header--div">
            <h1 class="header"></h1>
        </div>

        <ul class="card--ul">
            {% for post in last_eight_ads %}

            <li class="card--li">
                <div class="li--image--div">
                    <a class="image--a--tag" href="{% url 'product details' post.slug %}"></a>
                    <img src="{{ post.image.url }}" alt="" width="216px" height="156px">
                </div>

                <div class="li--name--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--name">{{ post.product_name }}</p>

                </div>

                <div class="li--price--div">
                    <p style="font-size: 16px; color: #6d44b8" class="product--price">Price: {{ post.price }} Bgn</p>
                </div>

            </li>

            {% endfor %}
        </ul>
    </div>

{#    end of second row of ads#}
{% endblock %}


</body>

</html>