{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'my_ads_page.css' %}">
    {% endblock %}
</head>


<body>

{% block content %}

    <div class="main__ads__div">
        {% for add in user_active_ads %}

            <div class="ads__div">
                    <div class="ads__inner__div">
                        <a class="image--a--tag" href="{% url 'product details' add.slug %}"></a>
                        <img src="{{ add.image.url }}" alt="" width="216px" height="157px">
                    </div>

                    <div class="add__name__div">
                        {{ add.product_name }}
                    </div>

                    <div class="add__price__div">
                        {{ add.price }} BGN
                    </div>
            </div>

            <div class="add--button--div">
                <a class="my--ads--add--button" href="{% url 'product edit' add.pk %}">Edit</a>
                <a class="my--ads--add--button" href="{% url 'product delete' add.pk %}">Delete</a>

            </div>

            {% endfor %}

    </div>



{% endblock %}

</body>





</html>

