{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Sell</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'profile_details.css' %}">

    {% endblock %}
</head>


<body>

{% block content %}
<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">

				<form class="forms" method="POST">
                    {% csrf_token %}

                    <label for="chk" aria-hidden="true">{{ user.username}}`s Profile</label>

                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <p class="flash--messages">{{ message }}</p>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {{ form.username }}
                    {{ form.email }}
                    {{ form.first_name }}
                    {{ form.last_name }}

                    <input class="input-button" type="submit" name="submit button" value="Edit Profile">


				</form>


			</div>


	</div>



    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[2].placeholder='Username'
        form_fields[3].placeholder='Email'
        form_fields[4].placeholder='Password'
        form_fields[5].placeholder='First Name'
        form_fields[6].placeholder='Last Name'
        console.log(form_fields)
    </script>

</body>
{% endblock %}

</html>

