{% extends 'index_logged.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Sell</title>
    <link rel="stylesheet" href="{% static 'product_sell_page.css' %}">
</head>

<body>
{% block page %}
<div>
    <form class="product--sell--form" method="POST" action="{% url 'sell' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="div--product--name">
            {{ form.product_name }}
        </div>

        <div class="div--product--category">
            {{ form.category }}
        </div>

        <div class="div--product--image">
            {{ form.image }}
        </div>

        <div class="div--product--description">
            {{ form.description }}
        </div>

        <div class="div--product--price">
            {{ form.price }}
        </div>

        <div>
           <input type="submit" value="Submit">
        </div>


    </form>
</div>



{% endblock %}


</body>


</html>